<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AutoTest">

    <test name="login">
        <classes>
            <class name="com.auto.test.LgoinTest">
                <methods>
                    <include name="loginTestNormal"/>
                    <include name="loginTestPasswordException"/>
                    <include name="loginTestUsernameException" />
                </methods>
            </class>
            <class name="com.auto.test.CreateDivideClassTaskTest">
                <methods>
                    <include name="CDCTaskNormalTest" description="创建分班任务功能测试"/>
                </methods>
            </class>
        </classes>
    </test>

    <listeners>
        <listener class-name="com.auto.test.ExtentTestNGIReporterListener" />
    </listeners>

</suite>